<p style="color: green"><%= notice %></p>

<%= render @state %>

<div>
  <%= link_to "Edit this state", edit_state_path(@state), class:"btn btn-secondary" %> | <%= link_to "Back to states", states_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy this state", @state, method: :delete, class:"btn btn-secondary" %>
 </div>
