<div id="<%= dom_id project %>">
  <p>
    <strong>Code:</strong>
    <%= project.code %>
  </p>

  <p>
    <strong>Initial date:</strong>
    <%= project.initial_date %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= project.value %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= project.client_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status_id %>
  </p>

</div>
