<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Rif:</strong>
    <%= company.rif %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= company.telephone %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city.name %>
  </p>

  <p>
    <strong>Company code:</strong>
    <%= company.id %>
  </p>

</div>
