<p style="color: green"><%= notice %></p>

<%= render @city %>

<div>
  <%= link_to "Edit this city", edit_city_path(@city), class:"btn btn-secondary" %> | <%= link_to "Back to cities", cities_path, class:"btn btn-secondary" %>

  <%= button_to "Destroy this city", @city, method: :delete, class:"btn btn-secondary" %>
</div>


